body {
    font-family: "Comic Sans MS";
    background-color: #FFB057!important;
    background-image: url("//d.thumbs.redditmedia.com/hn64UDlHB1-7n1C9.png");
    content: "oh man i am not good with computer plz to help";
    text-transform: uppercase;
    font-size: 25px!important
}
h1 {
    color: green!important;
    text-align: center
}
p {
    font-family: "Courier New"!important;
    font-size: 25px;
    background: yellow;
    border: 20px solid red
}
.md p {
    font-family: "Arial", sans-serif!important
}
a:hover {
    font-size: 500px;
    color: green
}
#header {
    background-color: #FF00FF
}
.side {
    background-color: blue
}
.title a:before {
    content: url("//c.thumbs.redditmedia.com/5fao7ANl5bTZINrP.png")
}
div.titlebox span.number {
    font-weight: bold;
    color: purple
}
div.titlebox span.number:before {
    content: "good bones and calcium come to you "
}
div.titlebox span.number:after {
    content: " thank mr skeltal for no hammocks"
}
div.titlebox span.word {
    display: none
}
.side blockquote+hr {
    border-width: 0;
    width: 0;
    background-color: transparent;
    margin: 10px 0 0
}
.footer-parent {
    height: 800px;
    padding-top: 0px;
    padding-bottom: 0px;
    clear: both;
    text-align: center;
    width: 100%
}
.footer-parent:after {
    content: "Ã¢â„¢Â¥Ã¢â„¢Â¥Ã¢â„¢Â¥ liek dis cry evertim ";
    font-size: 120px;
    background: white!important
}
div.content {
    margin-top: 50px
}
.titlebox form {
    position: static
}
.side h3:nth-of-type(1) {
    position: absolute;
    display: block;
    top: 130px;
    left: 40px;
    background-color: #119911;
    color: #555555;
    text-align: left;
    margin: 15px;
    border-radius: 8px;
    width: 50%;
    padding: 7px 0px 7px 40px
}
.link:not(.spam) .author,
.comment .author,
.side .author {
    display: none!important
}
.userattrs,
.userattrs * {
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden!important
}
.spam .author+* {
    display: none!important
}
.userattrs:before,
.userattrs:after {
    font-size: 10px;
    visibility: visible!important
}
.author+*:before {
    content: "Anonymous ";
    color: #369
}
.comment .author+*:before {
    font-weight: bold
}
.author.moderator+*:after,
.side .author+*:after {
    content: " ## Mod ##";
    color: #900
}
p:after {
    content: "oh man i am not good with computer plz to help"
}
a:after {
    content: "oh man i am not good with computer plz to help"
}
body:after {
    content: "oh man i am not good with computer plz to help";
    font-size: 120px!important
}
body:after {
    content: url("//a.thumbs.redditmedia.com/RqcA88iaV4uI6Asl.png");
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    position: fixed
}
body:after {
    content: url("//f.thumbs.redditmedia.com/izrQs461FCuqfJik.png");
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    position: fixed
}
body:after {
    content: url("//d.thumbs.redditmedia.com/tTKYepV937BqHCiu.png");
    position: absolute;
    bottom: 0;
    left: 600px;
    z-index: 3;
    position: fixed
}
@-webkit-keyframes header-img {
    0% {
        background: red
    }
    25% {
        background: yellow
    }
    50% {
        background: blue
    }
    75% {
        background: green
    }
    100% {
        background: red
    }
}
@keyframes header-img {
    0% {
        background: red
    }
    25% {
        background: yellow
    }
    50% {
        background: blue
    }
    75% {
        background: green
    }
    100% {
        background: red
    }
}
#header-img {
    -webkit-animation: header-img 5s linear infinite;
    animation: header-img 5s linear infinite
}
* {
    cursor: url("//b.thumbs.redditmedia.com/YrGSo9BGOoMTX5rdUbNriLBUTmYhe7bB4yZuSKItEKY.png"), auto
}